include README.md
include LICENSE
include MANIFEST.in
recursive-include xadmin_group_related/locale *
recursive-include xadmin_group_related/static *
recursive-include xadmin_group_related/templates *