{% extends "xadmin/edit_inline/base.html" %}
{% load i18n xadmin_tags crispy_forms_tags %}

{% block box_title %}{{ opts.verbose_name_plural|title }}{% endblock box_title %}

{% block box_content %}
    <script type="application/javascript">
        var ajax_table_url = "{% url "xadmin:grouprel-dataview" app_label=opts.app_label model_name=opts.model_name  pk=original.pk %}";
    </script>

    <table id="ajax-table" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                {% for columns in table.columns %}
                    <th>{{ columns }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>

{% endblock box_content %}