{% extends "xadmin/edit_inline/base.html" %}
{% load i18n xadmin_tags crispy_forms_tags %}
{% load table_grouprel_tags %}

{% block box_title %}{{ opts.verbose_name_plural|title }}{% endblock box_title %}
{% block box_attrs %}{% endblock box_attrs %}
{% block box_content_class %}{{inline_style}} formset-content{% endblock box_content_class %}
{% block box_content_attrs %}id="{{ prefix }}-{{inline_style}}-{{ group.pk }}" data-prefix="{{ prefix }}" data-style="{{inline_style}}"{% endblock box_content_attrs %}


{% block box_content %}
    <script type="application/javascript">
        var datatable_config = {
            ajax: {
                url: "{{ ajax_table_url }}"
            },
            columns_defs: [],
            // utils
            get_columns_order: function() {
                var order = [];
                $.each(this.columns_defs, function (index, column) {
                    if (column.order) { order.push([column.targets, column.order]); }
                });
                return order;
            },
            // utils
            get_checkboxes_column_index: function() {
                var checkboxes_index = 0;
                // get checkbox column index
                $.each(this.columns_defs, function (index, value) {
                    if (value.checkboxes !== false) {
                        checkboxes_index = index;
                        return false;
                    }
                });
                return checkboxes_index;
            }
        };
        {% for column in table.columns %}
        datatable_config.columns_defs.push({
            targets: {{ column.datatable.index }},
            searchable: {{ column.datatable.searchable|yesno:"true,false" }},
            orderable: {{ column.datatable.orderable|yesno:"true,false" }},
            visible: {{ column.datatable.visible|yesno:"true,false" }},
            className: {% if column.datatable.className %}"{{ column.datatable.className }}"{% else %}null{% endif %},
            checkboxes: {{ column.datatable.checkboxes|json_dumps|safe }},
            {% if column.datatable.render %}
            render: {{ column.datatable.render|safe }},
            {% endif %}
            {% if column.datatable.order %}
            order: "{{ column.datatable.order }}",
            {% endif %}
        });
        {% endfor %}
    </script>

    {% block table_content %}
    <table id="{{ table.id }}" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                {% for column in table.columns %}
                    <th>{{ column.verbose_name|safe }}</th>
                {% endfor %}
            </tr>
        </thead>
    </table>
    {% endblock %}
{% endblock box_content %}