{% extends 'xplugin-grouprel/inline-tabular-ajax.html' %}
{% load static %}

{% block box_title %}{{ box_title }}{% endblock %}
{% block box_collapse_target %}card-collapse-ajax-{{ group.pk }}{% endblock %}

{% block box_content %}
    {{ block.super }}
    <script type="application/javascript">
        $(function () {
            datatable_config.ajax.url = datatable_config.ajax.url + "?reversed=1";
            var table = $("#{{ table.id }}").create_table(datatable_config);
            var checkboxes_column_index = datatable_config.get_checkboxes_column_index();
            $('#form-ajax-objs-add').on('form-save', function (evt, form_data) {
                var rows_selected = table.column(checkboxes_column_index).checkboxes.selected();
                for (var index = 0; index < rows_selected.length; index++) {
                    form_data.append("objs", rows_selected[index])
                }
            }).on("post-success", function(evt, data){
                $('table.table').each(function (item) {
                    var table = $(this).data("table");
                    if (table && Object.keys(table).length > 0) {
                        table.column(checkboxes_column_index).checkboxes.deselectAll();
                        table.ajax.reload();
                    }
                });
            });
        });
    </script>
{% endblock %}

{% block table_content %}
    <form id="form-ajax-objs-add" action="{% url "xadmin:grouprel-ajax-table" pk=group.pk %}" method="post">
        {{ block.super }}
    </form>
{% endblock %}