div#group-rel-table_wrapper,
div#group-rel-ajax-table_wrapper {
    margin-top: 5px;
}

div.dt-buttons {
    margin-right: 5px;
    position: relative;
    float: left;
}

a.btn-table-new {
    margin-left: 0 !important;
}
div.dataTables_length {
    position: relative;
    float: left;
}

.quick-form-modal .modal-dialog {
    width: auto;
  }